wp/Awful/Awful.WP7.Controls/SampleData/SampleForumSource/SampleForumSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleForumSource" targetNamespace="Expression.Blend.SampleData.SampleForumSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleForumSource" type="tns:SampleForumSource" />
  <xs:complexType name="SampleForumSource">
    <xs:sequence>
      <xs:element name="Forums" type="tns:Forums" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Forums">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ForumsItem" type="tns:ForumsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForumsItem">
    <xs:attribute blend:FormatParameters="25,8" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,5" name="Nickname" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\ForumTags" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Colors" name="PrimaryColor" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="SecondaryColor" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>