Awful.WP8/Awful.WP8/SampleData/SampleNewMessage/SampleNewMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleNewMessage" targetNamespace="Expression.Blend.SampleData.SampleNewMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleNewMessage" type="tns:SampleNewMessage" />
  <xs:complexType name="SampleNewMessage">
    <xs:sequence>
      <xs:element name="Smilies" type="tns:Smilies" />
      <xs:element name="Tags" type="tns:Tags" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
    <xs:attribute name="Subject" type="xs:string" />
    <xs:attribute blend:FormatParameters="10,8" name="Body" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Smilies">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SmiliesItem" type="tns:SmiliesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SmiliesItem" />
  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TagsItem" type="tns:TagsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TagsItem" />
</xs:schema>