wp/Awful/Awful.WP7.Controls/SampleData/SampleThreadSource/SampleThreadSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleThreadSource" targetNamespace="Expression.Blend.SampleData.SampleThreadSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleThreadSource" type="tns:SampleThreadSource" />
  <xs:complexType name="SampleThreadSource">
    <xs:sequence>
      <xs:element name="Threads" type="tns:Threads" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Threads">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ThreadsItem" type="tns:ThreadsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ThreadsItem">
    <xs:attribute blend:FormatParameters="12,8" name="Title" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Author" type="xs:string" />
    <xs:attribute name="Info" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\ThreadTags" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Colors" name="ColorCategory" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="InfoColor" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>