2.x/Awful/SampleData/SampleForumCollection/SampleForumCollection.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleForumCollection" targetNamespace="Expression.Blend.SampleData.SampleForumCollection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleForumCollection" type="tns:SampleForumCollection" />
  <xs:complexType name="SampleForumCollection">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Subtitle" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>